html, body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 750px;
}

.header {
  background-image: url(" https://food.unl.edu/newsletters/images/mise-en-plase.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  margin: 0px -10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header2 {
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  margin: 0px -10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header3 {
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  margin: 0px -10px 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding: 20px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  opacity: 85%;
  width: fit-content;
  height: fit-content;
}

section {
  padding: 20px;
}

li {
  list-style: square;
}

ul {
  padding-left: 40px;
  margin-left: 40px;
}

.ingredients li {
  margin-left: 20px;
}

.ingredients li p {
  display: inline;
}

.instructions li {
  margin-left: 20px;
  list-style-type: decimal;
}

.servings {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.servings p {
  padding-top: 10px;
}

.servings .select {
  padding-left: 10px;
}

.nav {
  display:flex;
  justify-content: center;
}

.links {  
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#colhob:hover {
  background-color: rgba(76, 169, 255, 0.4);
}

#colhor:hover {
  background-color: rgba(76, 169, 71, 0.4);
}

.orderrow{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.afters{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.grid{ 
  display:grid;
    grid-auto-flow: dense;
    outline: 5px solid black;
    grid-template-rows: ;
    grid-template-columns: ;
 
}